<div class="wrap">
    <div class="nav">
        <div class="left">
            <span>成都市高新区</span>
            <span>24℃/晴</span>
        </div>
        <div class="center">
            <span>城市综合管理智慧化平台</span>
        </div>
        <div class="right">
            <span>2022.04.02 星期五</span>
            <span>11:00</span>

        </div>
    </div>

    <div class="content">
        <div class="sysList">
            <div class="item">环保</div>
            <div class="item">水务</div>
            <div class="item">城管</div>
            <div class="item">园林</div>
        </div>
        <div class="sysList">
            <div class="item">执法</div>
            <div class="item">综合</div>
            <div class="item">信访</div>
            <div class="item">全局总览</div>
        </div>
    </div>

    <div class="foot"></div>
</div>